body {
  margin: 0;
}

/*Header*/
header .topHeader{
  width: 100vw;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid #D6DE23;
  position: fixed;
  top: 0px;
  z-index: 200;
}

header .navHeader{
  position: fixed;
  background-color: #fff;
  width: 100vw;
  top: 71px;
  height: 40px;
  border-bottom: 1px solid #D6DE23;
  z-index: 200;
  /*background-color: #EEF1F6;*/
}

.logo{
  width: 200px;
  height: 60px;
  margin: 2px;
}

header .loginButton{
  top: 20px;
  right: 150px;
  position: absolute;
   background-color: white;
   border: none;
   margin: 10px;
   font-size: 12px;
   color: #445D7B;
 }
 header .createButton{
   top: 20px;
   right: 30px;
   position: absolute;
    background-color: white;
    border: none;
    margin: 10px;
    font-size: 12px;
    color: #445D7B;
  }

header .navButton{
  background-color: white;
  border: none;
  margin: 6px;
  margin-left: 20px;
  font-size: 13px;
  color: #60718D;

 }

 header .navButton:hover{
   font-size: 14px;
   color: #445D7B;
 }

/*Home Page*/
.wrapper {
  margin-top: 102px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content:center;
}

.hands{
  width: 100vw;
  height: 625px;
}

/*.tagline {
  z-index: 100;
  color: white;
  font-size: 30px;
  text-align: left;
  position: absolute;
}*/

#line1 {
  z-index: 100;
  color: white;
  font-size: 40px;
  right: 50px;
  position: absolute;
  top: 430px;
  margin-right: 50px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px black;
}

#line2 {
  z-index: 100;
  color: white;
  font-size: 40px;
  right: 50px;
  position: absolute;
  top:480px;
  margin-right: 50px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px black;
}

.homePicBox button {
  position: absolute;
  right:100px;
  top: 600px;
  background-color: orange;
  border: none;
  font-size: 20px;
  color: white;
  width: 250px;
  height: 60px;
}

#howItWorks {
  text-align: center;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
}

.threeArrowsPic {
  width: 75vw;
}

/*Items Page*/
.cards {
  width: 100vw;
  height: auto;
  border: 1px solid lime;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.task {
    margin: 2%;
    padding: 2em;
    background-color: lightgrey;
    width: 20vw;
    height: 20vw;
    border: 1px solid brown;
}

.task img{
    width: 45%;
    height: 45%;
    border-radius: 100%;
    border: 1px solid hotpink;
}

.taskLeft {

}
