body {
  margin: 0;
}

/*Header*/
header .topHeader{
  width: 100vw;
  height: 70px;
  background-color: grey;
  position: fixed;
  top: 0px;
}

header .navHeader{
  position: fixed;
  background-color: lightgrey;
  width: 100vw;
  top: 70px;
  height: 40px;
}

/*Home Page*/
.wrapper {
  margin-top: 120px;
}

/*Items Page*/
.cards {
  width: 100vw;
  height: auto;
  border: 1px solid lime;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.task {
    margin: 2%;
    padding: 2em;
    background-color: lightgrey;
    width: 20vw;
    height: 20vw;
    border: 1px solid brown;
}

.task img{
    width: 45%;
    height: 45%;
    border-radius: 100%;
    border: 1px solid hotpink;
}

.taskLeft {

}
